*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color:rgb(245, 245, 195);
    color:rgb(245, 245, 195) ;
    display: grid;
    justify-content: center;
    align-items: center;
}
.container{
    display: grid;
    width: 250px;
    height: 250px;
    place-content: center;
    border-radius: 50%;
    background-color:#CE5700 ;
    cursor: pointer;
    
    >p{
        font-family:serif;
        font-size:200px;
        transform: translateX(30%);
    }
}
